<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Welcome, {{ user.username }}!</h1>
        <form method="post" action="{% url 'polls:logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        {% if form.errors %}
            <p style="color: red;">Invalid login. Please try again.</p>
        {% endif %}
    {% endif %}
</body>

</html>